* {
    margin: 0;
    box-sizing: border-box;
}

ul {
	list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 31px;
}

p {
    font-size: 17px;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	width: 95%;
}

.overlay {
	background-color: rgba(0, 0, 0, .25);
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 998;
}

.overlay.visible {
	display: block;
}

.overlay.invisible {
	display: none;
}

.header {
	background-color: #222222;
	padding: 4px  0;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-list {
	display: flex;
	align-items: center;
	gap: 8px;
}

.hamburger {
	display: none;
}

.sidebar {
	background-color: rgba(0, 0, 0, .75);
	max-width: max-content;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	transition: 500ms ease-in-out;
}

.sidebar.opened {
	right: 0;
}

.sidebar.closed {
	right: -100%;
}

.sidebar-list {
	padding: 16px;
}

@media only screen and (max-width: 768px) {
	.navigation {
		display: none;
	}
	
	.call-to-actions {
		display: none;
	}
	
	.hamburger {
		display: inline;
	}
}

.mige-red {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.mige-1kol {
    width: 33.3%;
    flex: 1 1 calc(33% - 20px);
    flex: 1 1 100%;
    margin: 10px; 
    padding: 5px;
    color: #ffffff;
}

.mige-1kol>p,
h3,
ul,
li,
a {
    color: #ffffff;
}


.mige-red2 {
    width: 100%;
    
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(22, 21, 21)
}

.mige-2kol {
    
    padding: 9px 21px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.unutrasnji-prostor-kol {
    width: 100%;
    text-align: center;
    border-radius: 21px;
    border: 1px solid #808080;
    font-size: 17px;
    padding: 11px;
    min-height: 340px;
}

p.broj-pixela-p {
    margin-top: 11px;
    color: #000;
}

img.zaobljene-slike {
    border-radius: 21px;
}

.baneri-sekcija {
    width: 100%;
    display: flex;
    background: rgb(214, 211, 211);
}

.banner-kol {
    width: 13%;
}

.content-col {
    width: 74%;
}

.pod-red2kol {
    width: 100%;
    padding: 21px;
    display: flex;
    flex-wrap: wrap;
}

.pod-kolona1 {
    width: 60%;
    margin-top: -22px;
}

.pod-kolona2 {
    width: 40%;
    padding: 11px;
}


.slike {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.mini-slika {
    width: 30px;
    /* prilagodi veličinu slika */
    height: 30px;
    margin: 0 6px;
}

.desno {
    display: flex;
    margin: 10px;
    align-items: center;
    /* Poravnava dugme i tekst po sredini */
    text-align: right;
}

.dugme-tekst {
    color: white;
    display: flex;
    align-items: center;
    /* Poravnava dugme i tekst po sredini */
}

.dugme {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    width: 100%;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 30px;
    /* Razmak između dugmeta i teksta */
}

.tekstovi p {
    margin: 0;
    margin-left: 10px;
    /* Razmak između prvog i drugog teksta */
}

.tekstovi p {
    margin: 0;
}

.traka {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;
}

.registrujseparagraf {
    margin-right: 10px;
    color: white;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tri jednake kolone */
    background-color: #3a3a3a;
    /* Tamno siva pozadina */
    color: white;
    /* Boja teksta */
    padding: 20px;
    /* Unutrašnji razmak */
    text-align: center;
    /* Centriranje teksta u kolonama */
}

.footer-column {
    padding: 10px;
    /* Unutrašnji razmak između sadržaja i ruba kolone */
}

.footer-column h3 {
    margin-bottom: 10px;
    /* Razmak između naslova i sadržaja */
    border-bottom: 1px solid #bbb;
    /* Svetla linija ispod naslova */
}

.footer-column ul {
    list-style-type: none;
    /* Ukloni oznake liste */
    padding: 0;
    /* Ukloni unutrašnji razmak */
}

.footer-column a {
    color: #ffffff;
    /* Boja linkova */
    text-decoration: none;
    /* Ukloni podvlačenje */
}

.footer-column a:hover {
    text-decoration: underline;
    /* Podvlačenje na hover */
}

.banerslika {
    width: 100%;
    height: 100%;
}
.mige-2kol34{
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 10px;
}
.grid-container{
    margin-right: 20px;
}
@media (max-width: 2109px) {
    .mige-1kol {
        flex: 1 1 100%; /* Svaka kolona zauzima punu širinu na mobilnim uređajima */
    }}
    .aktuelno {
    color:#f1a41a; /* Boja teksta */
    border: 2px solid #f1a41a; /* Okvir oko teksta */
    padding: 3px; /* Razmak između teksta i okvira */
    margin-top: -6px;
    border-radius: 5px; /* Zaobljeni uglovi okvira */
    
}
